/*google font*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500,600,500&family=VT323&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e8eee1;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pages{
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
}

header .container{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #11101d;
  height: 100%;
  width: 260px;
  line-height: 1.5; /* increase line spacing */
}

.container .cname{
  font-size: 25px;
  color: #eee;
  font-weight: 600;
  height: 60px;
  width: 100%;
  text-align: center;
  line-height: 1.3; /* increase line spacing */
}

.container .nav-link{
  height: 100%;
  padding-top: 30px;
}

.container .nav-link li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.container .nav-link li:hover{
  background: #1d1b31;
  padding-left: 30px;
}

.container .nav-link li .navimg img{
  height: 28px;
  min-width: 30px;
  padding-right: 20px;
}

.container .nav-link .li .a{
  display: flex;
  text-align: center;
}

.container .nav-link li a .sbmenu{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #eee;
  text-decoration: none;
  line-height: 5.5; /* increase line spacing */
}

.container .profile-details{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
}

.container .profile-details .profile-content{
  display: flex;
  align-items: center;
}

.container .profile-details img{
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 16px;
  margin: 10px 14px 10px 12px;
  background: #1d1b31;
  padding: 10px;
}

.container .profile-details .profile-name{
  color: #eee;
  font-size: 15px;
  font-weight: 500;
}

.container .profile-details .job{
  color: #eee;
  font-size: 12px;
  font-weight: 400;
}


.home .headbox{
  position: absolute;
  width: 900px;
  left: 400px;
  background-color: #11101d;
  color: #ffffff;
  border-radius: 10px;
  padding: 12px;
  top: 60px;
}

.home .headbox h3 {
  margin: 0;
  word-spacing: 10px;
  font-weight: bold;
  font-style: italic;
  font-size: larger; 
  text-align: center;
  font-size:25px;
  color: #f1f1f1;
}

.home .buttonBox .bu1 {
  position: absolute;
  top: 160px;
  margin-left: 81px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  border-color: #ffffff;
  box-shadow: 6px 6px 3px #aaaaaa;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: 380px;
  height: 200px;

  transition-duration: 0.4s;
}

.home .buttonBox .bu1:hover{
  background-color: #d3e1f1;
  color: aliceblue;
}

.home .buttonBox .bu1 img {
  position: absolute;
  left: 85px;
  top: 80px;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto 10px;
}

.home .buttonBox .bu1 h4 {
  color: #2b2c2d;
  margin: 0;
  font-size: 20px;
  position: absolute;
  left: 180px;
  top: 88px;
}

.home .buttonBox .bu2 {
  position: absolute;
  top: 160px;
  margin-left: 620px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  border-color: #ffffff;
  box-shadow: 6px 6px 3px #aaaaaa;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: 380px;
  height: 200px;

  transition-duration: 0.4s;
}

.home .buttonBox .bu2:hover{
  background-color: #d3e1f1;
  color: aliceblue;
}

.home .buttonBox .bu2 img {
  position: absolute;
  left: 85px;
  top: 80px;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto 10px;
}

.home .buttonBox .bu2 h4 {
  color: #2b2c2d;
  margin: 0;
  font-size: 20px;
  position: absolute;
  left: 160px;
  top: 88px;
}

.home .buttonBox .bu3 {
  position: absolute;
  top: 400px;
  margin-left: 81px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  border-color: #ffffff;
  box-shadow: 6px 6px 3px #aaaaaa;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: 380px;
  height: 200px;

  transition-duration: 0.4s;
}

.home .buttonBox .bu3:hover{
  background-color: #d3e1f1;
  color: aliceblue;
}

.home .buttonBox .bu3 img {
  position: absolute;
  left: 85px;
  top: 80px;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto 10px;
}

.home .buttonBox .bu3 h4 {
  color: #2b2c2d;
  margin: 0;
  font-size: 20px;
  position: absolute;
  left: 180px;
  top: 82px;
}

.home .buttonBox .bu3 h5 {
  color: #2b2c2d;
  margin: 0;
  font-size: 14px;
  position: absolute;
  left: 170px;
  top: 119px;
}

.home .buttonBox .bu4 {
  position: absolute;
  top: 400px;
  margin-left: 620px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  border-color: #ffffff;
  box-shadow: 6px 6px 3px #aaaaaa;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: 380px;
  height: 200px;

  transition-duration: 0.4s;
}

.home .buttonBox .bu4:hover{
  background-color: #d3e1f1;
  color: aliceblue;
}

.home .buttonBox .bu4 img {
  position: absolute;
  left: 85px;
  top: 80px;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto 10px;
}

.home .buttonBox .bu4 h4 {
  color: #2b2c2d;
  margin: 0;
  font-size: 20px;
  position: absolute;
  left: 180px;
  top: 82px;
}

.home .buttonBox .bu4 h5 {
  color: #2b2c2d;
  margin: 0;
  font-size: 14px;
  position: absolute;
  left: 189px;
  top: 119px;
}

.home .buttonBox .bu5 {
  position: absolute;
  top: 640px;
  margin-left: 81px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  border-color: #ffffff;
  box-shadow: 6px 6px 3px #aaaaaa;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: 380px;
  height: 200px;

  transition-duration: 0.4s;
}

.home .buttonBox .bu5:hover{
  background-color: #d3e1f1;
  color: aliceblue;
}

.home .buttonBox .bu5 img {
  position: absolute;
  left: 85px;
  top: 80px;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto 10px;
}

.home .buttonBox .bu5 h4 {
  color: #2b2c2d;
  margin: 0;
  font-size: 20px;
  position: absolute;
  left: 180px;
  top: 82px;
}

.home .buttonBox .bu5 h5 {
  color: #2b2c2d;
  margin: 0;
  font-size: 14px;
  position: absolute;
  left: 207px;
  top: 119px;
}

.home .buttonBox .bu6 {
  position: absolute;
  top: 640px;
  margin-left: 620px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  border-color: #ffffff;
  box-shadow: 6px 6px 3px #aaaaaa;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: 380px;
  height: 200px;

  transition-duration: 0.4s;
}

.home .buttonBox .bu6:hover{
  background-color: #d3e1f1;
  color: aliceblue;
}

.home .buttonBox .bu6 img {
  position: absolute;
  left: 95px;
  top: 80px;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto 10px;
}

.home .buttonBox .bu6 h4 {
  color: #2b2c2d;
  margin: 0;
  font-size: 20px;
  position: absolute;
  left: 180px;
  top: 90px;
}

.home .buttonBox .bu6 h5 {
  color: #2b2c2d;
  margin: 0;
  font-size: 14px;
  position: absolute;
  left: 207px;
  top: 119px;
}

.profile {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #e8eee1;
  padding: 0 20px;
}

.avatar {
  margin-right: 8px;
}

.avatar img {
  position: absolute;
  top: 30px;
  right: 70px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.dropdown {
  position: relative;
}

.profile .dropbtn{
  position: absolute;
  top: 21px;
  right: 22px;
  width: 0px;
  height: 0px;
  color: #cacaca;
  border-color: #cacaca;
}

.profile .dropbtn img{
  position: absolute;
  top: 0;
  right: 0px;
  width: 15px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 30spx;
  right: 0;
  background-color: #f9f9f9;
  border-radius: 5px;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/*Item List*/
.home1 .headbox{
  position: absolute;
  width: 900px;
  left: 400px;
  background-color: #11101d;
  color: #ffffff;
  border-radius: 10px;
  padding: 12px;
}

.home1 .headbox h3 {
  margin: 0;
  word-spacing: 10px;
  font-weight: bold;
  font-style: italic;
  font-size: larger; 
  text-align: center;
  font-size:25px;
  color: #f1f1f1;
}

.home1 .plog h3{
  position: absolute;
  top: 120px;
  left: 750px;
  font-size: 25px;
  font-weight: bold;
}

.home {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 100px;
}

.search-product-box{
  position: absolute;
  top: 200px;
  width: 500px;
  left: 589px;
  border: #aaaaaa;
  border-radius: 5px;
  box-shadow: 6px 6px 3px #aaaaaa;
  padding: 15px;
}

.pdfgen{
  background-color: #1aac83;
  box-shadow: 6px 6px 3px #aaaaaa;
  border: #1aac83;
  padding: 15px;
  font-size: medium;
  font-weight: 500;
  color: #ddd;
}

.item-list{
  position: absolute;
  top: 240px;
  left: 90px;
  background: #f1f1f1;
  border-radius: 5px;
  margin: 30px auto;
  padding: 20px;
  position: relative;
  box-shadow: 6px 6px 3px #aaaaaa;
}

.item-list h5{
  margin: 0 0 20px 0;
  font-size: 1.5em;
  color: #1aac83;
}

.item-list p{
  margin: 10px 0 0 35px;
  font-size: 1.0em;
  color: #555;
}

.item-list span{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #d3e1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.timage img{
  position: relative;
  left: 45px;
  margin: 20px;
  width: 150px;
  height: 150px;
}

.bimage img{
  position: relative;
  left: 45px;
  margin: 20px;
  width: 100px;
  height: 100px;
}

/*Add Items*/
.home2 .headbox{
  position: absolute;
  width: 900px;
  left: 400px;
  background-color: #11101d;
  color: #ffffff;
  border-radius: 10px;
  padding: 12px;
}

.home2 .headbox h3 {
  margin: 0;
  word-spacing: 10px;
  font-weight: bold;
  font-style: italic;
  font-size: larger; 
  text-align: center;
  font-size:25px;
  color: #f1f1f1;
}

.home2 label, input {
  font-weight: 500;
  font-size: large;
  color: #2F4050;
  display: block;
  position: relative;
  left: 98px;
  top: 170px;
}

.home2 input{
  position: relative;
  top: 180px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.home2 form button {
  position: absolute;
  top: 890px;
  left: 406px;
  background-color: #094162;
  border: 0;
  color: #f1f1f1;
  padding: 12px;
  width: 120px;
  font-family: "Poppins";
  font-weight: bold;
  font-size: large;
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 12px;
  background: #ffefef;
  border: 1px solid tomato;
  color: tomato;
  border-radius: 4px;
  margin: 20px 0;
}

.create .form-head{
  position: absolute;
  top: 90px;
  left: 770px;
  font-size: 19px;
  font-weight: bold;
}

.home2 form .just{
  color: #e8eee1;
  top: 970px;
  background-color: #e8eee1;
} 

/*error handler*/
input .error{
  border: 1px solid tomato;
}

.mate{
  position: absolute;
  top: 50px;
  left: 700px;
}

/*LedgerAdd*/


.tadd .l1 label{
  font-weight: 500;
  font-size: large;
  color: #2F4050;
  display: block;
  position: absolute;
  left: 438px;
  top: 1625px;
}

.tadd .l1 input{
  position: absolute;
  left: 438px;
  top: 1650px;
  width: 150px;
}

.tadd .m1 label{
  font-weight: 500;
  font-size: large;
  color: #2F4050;
  display: block;
  position: absolute;
  left: 438px;
  top: 1740px;
}

.tadd .m1 input{
  position: absolute;
  left: 438px;
  top: 1765px;
  width: 125px;
}

.tadd .m2 label{
  font-weight: 500;
  font-size: large;
  color: #2F4050;
  display: block;
  position: absolute;
  left: 660px;
  top: 1740px;
}

.tadd .m2 input{
  position: absolute;
  width: 125px;
  left: 660px;
  top: 1765px;
}

.tadd .m3 label{
  font-weight: 500;
  font-size: large;
  color: #2F4050;
  display: block;
  position: absolute;
  left: 922px;
  top: 1740px;
}

.tadd .m3 input{
  position: absolute;
  width: 125px;
  left: 922px;
  top: 1765px;
}

.tadd .m4 label{
  font-weight: 500;
  font-size: large;
  color: #2F4050;
  display: block;
  position: absolute;
  left: 1184px;
  top: 1740px;
}

.tadd .m4 input{
  position: absolute;
  left: 1184px;
  top: 1765px;
  width: 125px;
}

.tadd .m5 label{
  font-weight: 500;
  font-size: large;
  color: #2F4050;
  display: block;
  position: absolute;
  left: 438px;
  top: 1855px;
}

.tadd .m5 input{
  position: absolute;
  left: 438px;
  top: 1880px;
  width: 125px;
}

.tadd .m6 label{
  font-weight: 500;
  font-size: large;
  color: #2F4050;
  display: block;
  position: absolute;
  left: 660px;
  top: 1855px;
}

.tadd .m6 input{
  position: absolute;
  left: 660px;
  top: 1880px;
  width: 125px;
}

.tadd .m7 label{
  font-weight: 500;
  font-size: large;
  color: #2F4050;
  display: block;
  position: absolute;
  left: 922px;
  top: 1855px;
}

.tadd .m7 input{
  width: 125px;
  position: absolute;
  left: 922px;
  top: 1880px;
}

.tadd .m8 label{
  font-weight: 500;
  font-size: large;
  color: #2F4050;
  display: block;
  position: absolute;
  left: 1184px;
  top: 1855px;
}

.tadd .m8 input{
  position: absolute;
  left: 1184px;
  top: 1880px;
  width: 125px;
}

.tadd .m9 label{
  font-weight: 500;
  font-size: large;
  color: #2F4050;
  display: block;
  position: absolute;
  left: 438px;
  top: 1960px;
}

.tadd .m9 input{
  position: absolute;
  left: 438px;
  top: 1985px;
  width: 125px;
}

.tadd .m10 label{
  font-weight: 500;
  font-size: large;
  color: #2F4050;
  display: block;
  position: absolute;
  left: 660px;
  top: 1960px;
}

.tadd .m10 input{
  position: absolute;
  left: 660px;
  top: 1985px;
  width: 125px;
}

.tadd .m11 label{
  font-weight: 500;
  font-size: large;
  color: #2F4050;
  display: block;
  position: absolute;
  left: 922px;
  top: 1960px;
}

.tadd .m11 input{
  position: absolute;
  left: 922px;
  top: 1985px;
  width: 125px;
}

.tadd .m12 label{
  font-weight: 500;
  font-size: large;
  color: #2F4050;
  display: block;
  position: absolute;
  left: 1184px;
  top: 1960px;
}

.tadd .m12 input{
  position: absolute;
  left: 1184px;
  top: 1985px;
  width: 125px;
}

.tadd .sub1 h3{
  position: absolute;
  top: 170px;
}

.tadd .l0 label{
  font-weight: 500;
  font-size: large;
  color: #2F4050;
  display: block;
  position: absolute;
  left: 438px;
  top: 750px;
}

.tadd .l0 input{
  position: absolute;
  left: 438px;
  top: 775px;
  width: 870px;
}

.home .just{
  color: #e8eee1;
  position: absolute;
  top: 920px;
  background-color: #e8eee1;
  border: #e8eee1;
} 

/*Add Transactions*/
.home4 .headbox{
  position: absolute;
  width: 900px;
  left: 400px;
  background-color: #11101d;
  color: #ffffff;
  border-radius: 10px;
  padding: 12px;
}

.home4 .headbox h3 {
  margin: 0;
  word-spacing: 10px;
  font-weight: bold;
  font-style: italic;
  font-size: larger; 
  text-align: center;
  font-size:25px;
  color: #f1f1f1;
}


.tadd .sub2 h3{
  position: absolute;
  top: 1540px;
}

label, input {
  font-weight: 500;
  font-size: large;
  color: #2F4050;
  display: block;
  position: relative;
  left: 98px;
  top: 240px;
}

input{
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/*form button {
  position: absolute;
  top: 820px;
  left: 406px;
  background-color: #094162;
  border: 0;
  color: #f1f1f1;
  padding: 12px;
  width: 120px;
  font-family: "Poppins";
  font-weight: bold;
  font-size: large;
  border-radius: 4px;
  cursor: pointer;
}*/

div.error {
  padding: 12px;
  background: #ffefef;
  border: 1px solid tomato;
  color: tomato;
  border-radius: 4px;
  margin: 20px 0;
}

.tadd .form-head{
  position: absolute;
  top: 110px;
  left: 720px;
  font-size: 19px;
  font-weight: bold;
}

form .just{
  color: #cacaca;
  top: 920px;
  background-color: #cacaca;
} 

/*error handler*/
input .error{
  border: 1px solid tomato;
}

.tadd .sub3 h3{
  position: absolute;
  top: 180px;
}

/*Add Prices*/
.home5 .headbox{
  position: absolute;
  width: 900px;
  left: 400px;
  background-color: #094162;
  color: #ffffff;
  border-radius: 10px;
  padding: 12px;
}

.home5 .headbox h3 {
  margin: 0;
  word-spacing: 10px;
  font-weight: bold;
  font-style: italic;
  font-size: larger; 
  text-align: center;
  font-size:25px;
  color: #f1f1f1;
}

.tadd .sub3 h3{
  position: absolute;
  top: 1550px;
}

label, input {
  font-weight: 500;
  font-size: large;
  color: #2F4050;
  display: block;
  position: relative;
  left: 98px;
  top: 240px;
}

input{
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  position: absolute;
  top: 820px;
  left: 406px;
  background-color: #094162;
  border: 0;
  color: #f1f1f1;
  padding: 12px;
  width: 120px;
  font-family: "Poppins";
  font-weight: bold;
  font-size: large;
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 12px;
  background: #ffefef;
  border: 1px solid tomato;
  color: tomato;
  border-radius: 4px;
  margin: 20px 0;
}

.padd .form-head{
  position: absolute;
  top: 110px;
  left: 720px;
  font-size: 19px;
  font-weight: bold;
}

form .just{
  color: #e8eee1;
  top: 920px;
  background-color: #e8eee1;
} 

/*error handler*/
input .error{
  border: 1px solid tomato;
}

.padd .sub3 h3{
  position: absolute;
  top: 180px;
}





  .home6 .headbox{
    position: absolute;
    width: 900px;
    left: 400px;
    background-color: #094162;
    color: #ffffff;
    border-radius: 10px;
    padding: 12px;
  }
  
  .home6 .headbox h3 {
    margin: 0;
    word-spacing: 10px;
    font-weight: bold;
    font-style: italic;
    font-size: larger; 
    text-align: center;
    font-size:25px;
    color: #f1f1f1;
  }

  .createUpdate .headbox{
    position: absolute;
    width: 900px;
    left: 400px;
    background-color: #094162;
    color: #ffffff;
    border-radius: 10px;
    padding: 12px;
  }
  
  .createUpdate .headbox h3 {
    margin: 0;
    word-spacing: 10px;
    font-weight: bold;
    font-style: italic;
    font-size: larger; 
    text-align: center;
    font-size:25px;
    color: #f1f1f1;
  }
  
  .createUpdate .plog h3{
    position: absolute;
    top: 120px;
    left: 750px;
    font-size: 25px;
    font-weight: bold;
  }
  
  .createUpdate .form-head{
    position: absolute;
    top: 120px;
    left: 720px;
    font-size: 19px;
    font-weight: bold;
  }

  .createUpdate .just{
    position: absolute;
    top: 970px;
    left: 720px;
    font-size: 19px;
    font-weight: bold;
  }

  .createUpdate .u{
    position: absolute;
    top: 920px;
    left: 720px;
    font-size: 19px;
    font-weight: bold;
  }

/*ledger list*/



.table {
  position: relative;
  top: 160px;
  left: 40px;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5  px;
  table-layout: fixed;
  
}



.table th{
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  color: #acd4ed;
  padding: 8px;
  text-align: left;
  border: 1px solid rgb(255, 253, 253);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 800;
}

.table td {
  font-size: small;
  background-color: #2b2c2d;
  color: #eee;
  font-weight: 500;
  padding: 12px;
  text-align: left;
  border: 1px solid rgb(255, 253, 253);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table th:nth-child(1),
.table td:nth-child(1),
.table th:nth-child(4),
.table td:nth-child(4),
.table th:nth-child(5),
.table td:nth-child(5),
.table th:nth-child(8),
.table td:nth-child(8),
.table th:nth-child(9),
.table td:nth-child(9){
  width: 80px;
}

.table th:nth-child(2),
.table td:nth-child(2){
  width: 180px;
}

.table th:nth-child(3),
.table td:nth-child(3),
.table th:nth-child(6),
.table td:nth-child(6),
.table th:nth-child(7),
.table td:nth-child(7) {
  width: 120px;
}

.table th {
  background-color: #535455;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}



.mtable{
  position: relative;
  top: 160px;
  left: 40px;
  border-collapse: collapse;
  table-layout: fixed;
  width: 1092px;
}



.mtable th{
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  color: #acd4ed;
  padding: 8px;
  text-align: left;
  border: 1px solid rgb(255, 253, 253);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 800;
}

.mtable td {
  font-size: small;
  background-color: #2b2c2d;
  color: #eee;
  font-weight: 500;
  padding: 12px;
  text-align: left;
  border: 1px solid rgb(255, 253, 253);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mtable th {
  background-color: #535455;
}

.mtable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}




.ptable{
  position: relative;
  top: 160px;
  left: 40px;
  border-collapse: collapse;
  table-layout: fixed;
  width: 1092px;
}



.ptable th{
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  color: #acd4ed;
  padding: 8px;
  text-align: left;
  border: 1px solid rgb(255, 253, 253);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 800;
}

.ptable td {
  font-size: small;
  background-color: #2b2c2d;
  color: #eee;
  font-weight: 500;
  padding: 12px;
  text-align: left;
  border: 1px solid rgb(255, 253, 253);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ptable th {
  background-color: #535455;
}

.ptable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}



.home6 .plog h3{
  position: absolute;
  top: 100px;
  left: 750px;
  font-size: 25px;
  font-weight: bold;
}  
  
.ledview  .just{
  color: #e8eee1;
  border: #e8eee1;
  background-color: #e8eee1;
}  


.container nav button{
  width: 80px;
  position: relative;
  background: #1d1b31;
  color: #6a6788;
  border: 2px solid #6a6788;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
  right: 10px;
  bottom: 5px;
}

/*auth forms*/
/*form.inventorySignup, form.inventoryLogin {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 4px;
  background: transparent;
}*/

/* inventory login*/ 

.inventoryLogin {
  width: 500px;
  height: 600px;
  left: 600px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  flex-direction: column;
  position: absolute;
}

.inventoryLogin label {
  font-size: 18px;
  left: 10px;
  top: 80px;
  padding: 30px;
  color: #6a6788;
  margin-bottom: 10px;
}

.inventoryLogin select{
  width: 420px;
  padding: 10px;
  position: absolute;
  top: 170px;
  left: 60px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: none;
  background-color: #d3d2e2;
  color: #6a6788;
}

.inventoryLogin input[type="email"],
.inventoryLogin input[type="password"] {
  width: 420px;
  padding: 10px;
  top: 75px;
  left: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #d3d2e2;
  color: #6a6788;
}

.inventoryLogin h3 {
  position: absolute;
  margin-top: 20px;
  left: 220px;
  color: #6a6788;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inventoryLogin .loginb button {
  position: absolute;
  top: 490px;
  left: 212px;
  background-color: #1d1b31;
  color: #b7acc8;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inventoryLogin nav{
  position: absolute;
  top: 600px;
}

.inventoryLogin .error {
  color: red;
  margin-top: 10px;
}

.signup-link {
  font-size: 16px;
  color: #6a6788;
}

.signup-link span {
  color: #1d1b31;
  font-weight: bold;
}
.inventoryLogin h5{
  position: absolute;
  top: 540px;
  left: 160px;
  font-size: 15px;
}

.inventoryLogin .lslink{
  position: relative;
  left: 220px;
}

.inventoryLogin .nav .button{
  top: 490px;
  left: 212px;
  background-color: #1d1b31;
  color: #b7acc8;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* inventory signup*/ 

.inventorySignup {
  width: 500px;
  height: 600px;
  left: 600px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  flex-direction: column;
  position: absolute;
}

.inventorySignup label {
  font-size: 18px;
  left: 10px;
  top: 80px;
  padding: 30px;
  color: #6a6788;
  margin-bottom: 10px;
}

.inventorySignup select{
  width: 420px;
  padding: 10px;
  position: absolute;
  top: 170px;
  left: 60px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: none;
  background-color: #d3d2e2;
  color: #6a6788;
}

.inventorySignup input[type="email"],
.inventorySignup input[type="password"] {
  width: 420px;
  padding: 10px;
  top: 75px;
  left: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #d3d2e2;
  color: #6a6788;
}

.inventorySignup h3 {
  position: absolute;
  margin-top: 20px;
  left: 205px;
  color: #6a6788;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inventorySignup .loginb button {
  position: absolute;
  top: 520px;
  left: 212px;
  background-color: #1d1b31;
  color: #b7acc8;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inventorySignup nav{
  position: absolute;
  top: 600px;
}

.inventorySignup .error {
  color: red;
  margin-top: 10px;
}

.inventorySignup .lslink{
  position: relative;
  left: 220px;
}

.inventorySignup .nav .button{
  top: 490px;
  left: 212px;
  background-color: #1d1b31;
  color: #b7acc8;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}